// http://davidwalsh.name/sass-color-variables-dont-suck
// http://bensmithett.com/stop-using-so-many-sass-variables/
// http://chir.ag/projects/name-that-color/#008DF3


$tangerine: #f39100;  // orange
$azure: #008df3;      // blue
$red: #ff3235;        // red

$black: #000000;      // black
$white: #ffffff;      // white


/*** All the greys ***/

$gallery: #eeeeee;    // light-grey
$silver: #cdcdcd;     // grey
$manatee: #8e8e93;    // dark-grey
$dove-gray: #717171;  // dark-dark-grey