{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Query{% endblock %}

{% block content %}
    <h3>Query form</h3>
    <form action="{% url 'endpoint.views.query_form' %}" method="post">
        {% csrf_token %}
        <pre id="query-prefixes"></pre>
        <textarea id="query-field" name="query-field" rows="10">{{ query }}</textarea>
        <div class="form-buttons">
          <button id="submit-query" class="button pull-right">Submit</button>
        </div>
    </form>
    <div id="query-result"></div>
{% endblock %}

{% block scripts %}

<script type="text/javascript" src="{% static 'js/sgvizler.min.js' %}"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>

<script language="javascript">
    "use strict";

    $(document).ready(function() {
        var prefixes = sgvizler.namespacePrefixesSPARQL().replace(/>/g, "&gt;").replace(/</g, "&lt;");

        $("#query-prefixes").html(prefixes);

        $("#submit-query").click(function() {
            var q = new sgvizler.Query();
            q.query($("#query-field").val()).
            endpointURL("{%  url 'endpoint.views.query' %}").
            endpointOutputFormat("json").
            chartFunction("google.visualization.Table").
            draw("query-result");

            return false;
        });

    });
</script>

{% endblock %}