{% extends "base_accounts.html" %}

{% load staticfiles %}

{% block title %}Login{% endblock %}
{% block page_id %}userlist{% endblock %}

{% block registration %}
<h3>Registered Users</h3>
<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Account</th>
        </tr>
    </thead>
    <tbody>
        {% for user in object_list %}
         <tr>
            <td>{{ user.email }}</td>
            <td>
                {% if user.is_admin %}
                    <a class="button button-small button-wide" href="{% url 'accounts.views.edit_user' userID=user.email %}?admin=0">Make user</a>
                {% else %}
                    <a class="button button-small button-wide" href="{% url 'accounts.views.edit_user' userID=user.email %}?admin=1">Make admin</a>

                    <a class="button button-small" href="{% url 'accounts.views.delete_user' userID=user.email %}">Delete</a>
                {% endif %}
                {% if user.is_active %}
                    <a class="button button-small button-wide" href="{% url 'accounts.views.edit_user' userID=user.email %}?active=0">Deactivate</a>
                    {% else %}
                    <a class="button button-small button-wide" href="{% url 'accounts.views.edit_user' userID=user.email %}?active=1">Activate</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}