// Inverted colors and smaller navigation and bigger content area
#page-annotator {
  background: $white;

  .sidebar {
    background: $gallery;
    width: 2*$column + $column-gap;
  }

  .main {
    margin-left: 2*$column + $column-gap;
    width: 22*$column + 22*$column-gap;

    .header {
      background: $gallery;
      border-bottom: $baseline solid $white;
      height: 4*$baseline;
      margin-left:  2*$column + 3*$column-gap;
      position: fixed;
      width: 20*$column + 19*$column-gap;
      z-index: 100;
    }

    .content {
      padding-top: 3*$baseline + $baseline;
      margin-left: 2*$column + 3*$column-gap;
      width: 11*$column + 10*$column-gap;
    }
  }

  p {
    margin: 0 0 $baseline 0;
  }
}

#documentTitle {
  @extend h1;
}