.button {
  border: 1px solid $silver;
  background-color: $silver;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-size: $base-font-size;
  padding: ($half-baseline/2 - 1px) ($column-gap - 1px);
  text-decoration: none;
  text-align: center;
  width: 3*$column + 2*$column-gap;

  &:hover {
    background-color: $manatee;
  }
}

.button-secondary {
  background-color: transparent;
  color: $dove-gray;

  &:hover {
    background-color: transparent;
    border-color: $manatee;
    color: $black;
  }
}

.button-big {
  padding: ($half-baseline - 1px) ($column-gap - 1px);
}

.button-small {
  padding: 0 ($column-gap - 1px);
  border: 0;
}

.button-wide {
  width: 4*$column + 3*$column-gap;
}
