// Row of Buttons below a form
.form-buttons {
  @include clearfix;
  margin-top: $baseline;
  
  .button {
    margin-left: $column-gap;
  }
}

// Floating Labels
.form-group{
  margin-top: $half-baseline + $baseline;
  position: relative;

  label {
    color: $manatee;
    cursor: text;
    left: 0;
    margin: $half-baseline 0;
    position: absolute;
    pointer-events: none;
    top: 0;
  }

  &.error {
    input {
      border-bottom-color: $red;
    }

    .errorlist {
      position: absolute;
      @include list-reset;
      font-size: 14px;
      color: $red;
    }
  }
}

input[type="text"], input[type="password"], input[type="email"] {
  background-color: transparent;
  border: 0px;
  border-bottom: 2px solid $dove-gray;
  font-size: $base-font-size;
  line-height: $baseline;
  padding: ($half-baseline - 1px) 0;

  &:focus {
    border-bottom-color: $azure;
    outline: 0;
  }

  &:valid + label,
  &:focus + label {
    cursor: default;
    font-size: 14px;
    top: - $baseline;
  }
}

// remove ugly yellow color
input:-webkit-autofill {
  // http://labs.enonic.com/articles/remove-forced-yellow-input-background-in-chrome
  -webkit-box-shadow: 0 0 0px 1000px $gallery inset;
}

input, textarea {
  width: 100%;
}

textarea {
  padding: 0 $column-gap/2;
}