
body{
  padding:1em;
  max-width: 979px;
  font-size: 14px;
  background-color : #fff;
}

#headline{
  border-bottom: 1px solid black;
}

.document-list-buttons{
    float:right;
}

.small{
    font-size: 0.7em;
    vertical-align: middle;
}

.mid{
  font-size: 0.9em;
}

.big{
  font-size: 1.8em;
  margin-bottom: 0.5em;
}

#userInfo{
  line-height: 2em;
  text-align: right;
}

.orange{
  color: #f39100;
}

.color-red{
  color: #FF3235;
}

.verticalLine {
    display:none;
}

.as-active{
    font-weight: bold;
}


#document-table tr td:nth-child(1){
    text-align: right;
    width: auto;
}

#document-table tr:nth-child(2n) td:nth-child(2){
    background-color: #ffffff;
}

#document-table tr:nth-child(2n+1) td:nth-child(2){
    /*background-color: #f1f1f1;*/
}

#document-table tr td:hover td:nth-child(2){
    /*background-color: #E5E5E5;*/
}

#document-table tr a{
  color: #8E8E93;
}
#document-table tr a:hover{
  color: black;
}


.document-list-buttons{
   /*display: none;*/
   color:transparent;
}


.annotator-btn{
  text-align: left;
}

.element-cell:hover .document-list-buttons{
    /*display: block;*/
  color:black;

}

#loginform input{
  margin-bottom: 1em;
}

#loginform .last_input{
  margin-bottom: 0em;
}






/* Fullscreen */

#annotationArea{
    /*overflow: auto;*/
}

:-webkit-full-screen {
  background-color: white;
  width: 50%;
  height: 100%;
  padding: 5em;

}

:-moz-full-screen {
  background-color: white;
  width: 50%;
  height: 100%;
  padding: 5em;


}

:-ms-fullscreen {
  background-color: white;
  width: 50%;
  height: 100%;
  padding: 5em;


}

:full-screen { /*pre-spec */
  background-color: white;
  width: 50%;
  height: 100%;
  padding: 5em;


}

:fullscreen { /* spec */
  background-color: white;
  width: 50%;
  height: 100%;
  padding: 5em;
}


#exit-fullscreen-btn{
  font-size: 1.5em;
  text-align: right;
}

/* end Fullscreen */

a:link {
  text-decoration: none;
  /*color:#3d58a8;*/
  color: black;
}
a:visited {
  text-decoration: none;
  /*color:#3d58a8;*/
  color: black;

}
a:hover {
  text-decoration: none !important;
  /*color:#2f4483;*/
  color: rgba( 0,173, 232, 1);

}
a:active {
  text-decoration: none;
  /*color:#3d58a8;*/
  color: #005F7F;

}


/*import dialog*/
#dialog-import{
  margin-left: 2em;
}

#document-import-list li{
  border: none;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

#document-import-list{
  margin: 0;
}

#document-import-list li:hover{
  cursor: pointer;
}


#import-form-row{
  padding: 0 !important;

}

#document-import-list .ui-selecting, dialog#dialog-import .ui-widget-content:hover, #document-import-list .ui-selected {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  background: #00ADE8;
}

/* Button */
.cancel-btn{
  text-decoration: underline;
  border: none;
  margin-right: 2em;
  background-color: transparent;
}
.cancel-btn:hover{
  border:none !important;
  background: none !important;
  cursor: pointer;
  color: black;
}

#document-import-list{
  list-style-type: none;
}

.btn-outline {
/*  text-shadow:  .5px  0px 0px #fff,
               -.5px  0px 0px #fff;
*/

}
.btn-outline:hover {
  /*font-weight: bold;*/
/*  text-shadow:  .5px  0px 0px #000,
               -.5px  0px 0px #000;
*/  color: black;
  background-color: #d6d6d6;
  border: 1px solid black;
}


/* Navigation */
.nav a,
.nav span{
  display: inline-block;
  white-space: nowrap;
}
.nav a{
  width: 100%;
}
.nav a:hover, .nav a:hover .fa{
  color: black;
}
.nav a.nav-active{
  color: #f39100;
  font-weight: bold;
  cursor: default;
}
.nav a:hover{
  font-weight: bold;
}

.nav span:before{
  margin-right: 5em;
}

/*.nav li:first-child{
  border-top: 1px solid black;
}
*/
.nav li{
  border-bottom: 1px solid black;
}


.nav .fa{
  font-size: 1.5em;
  margin-right: 1em;
  margin-left: 1em;
  color: #000000;
  vertical-align: middle;
}

.nav .fa:hover{
  cursor: pointer;
}

.nav .fa.active{
  color: rgba(0,173, 232, 1);
}

.nav .fa.deactivated{
  color:#aeaeae;
}

.nav .fa.deactivated:hover{
  cursor: default;
}
#help-link{
    display: none;
    border:none;
    position: absolute;
    bottom: 1em;
}

/*fixed Navigation for Annoator View*/
.annotator-nav{
  position: fixed;
  left:0em;
  top:0em;
  height:100%;
}

.annotator-nav li{
  border: none;
}


/* annotator menu */
#annotator_menu{
    display:none;
    padding: 0.5em;
    border: 1px solid black;
    position: absolute;
    right: 2em;
    top: 2em;
}


/* Logo */
.neonion-logo{
    white-space: nowrap;
}

.orange{
    color: #f39100;
}

.ul_1{
    border-bottom: 1px solid black;
}

.ul_2{
    border-bottom: 3px solid #f39100;
}

.ul_3{
    padding-bottom: 8px;
    border-bottom: 3px solid black;
}


/* responsivene menu */
@media only screen and (max-width: 767px) {

  body{ display: table; }
  .unit-20{ display: table-footer-group; }
  .unit-80{ display: table-header-group; }
  .unit-60{ clear: both; }
  #help-link { position: inherit;  }
  .annotator-nav{ height: 3em; position: inherit; display: block;}
  .annotator-nav li{ float: left; }
  .annotator-nav li a{ padding:0; }
  .annotator-nav li#help-link { right: 1em; position: absolute; bottom:auto;}
  #annotator_menu{ display: none; }
}

/* OCR classes */
.ocr_par {
    margin-bottom: 0em;
}

.ocr_page {
    text-align: justify;
    margin-bottom: 1em;
}