table {
  width: 100%;
}

th {
  padding: 0 $baseline ($half-baseline - 1) 0;
}

td {
  padding: $half-baseline $baseline ($half-baseline - 1) 0;
}

th, td {
  text-align: left;
  border-bottom: 1px solid $silver;
  vertical-align: top;
}