h1 {
  font-size: 26px;
  line-height: 2*$baseline; 
  margin: 0 0 $baseline 0;
}

h2 {

}

h3 {
  font-size: 18px;
  line-height: $baseline;
  margin: $half-baseline 0 $baseline 0;
}

pre {
  margin: 0 0 $baseline 0;
}