<p>Please select the files you want to import to your working space.</p>
<div class="scroll-container">
    <ul id="document-import-list" class="document-list"></ul>
</div>
<div class="form-buttons">
  <button id="btn-import" class="button pull-right">Import</button>
  <a href="/" class="button button-secondary pull-right">Cancel</a>
</div>

{% load staticfiles %}
<script language="javascript" src="{% static 'js/neonion.import_cms.js' %}" defer></script>